{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {}
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-root-import"]
  ]
}